@import '@assets/styles/fonts.scss';
@import '@assets/styles/mixins/adaptivePaddings.scss';

.form-page {
  $page-paddings: var(--padding-xlg) 0;
  $form-bg-color: var(--white-200);

  $login-page-header-margin-bottom: 1.8125rem; // 29px

  $form-padding-top: var(--padding-xlg); // 30px
  $form-padding-right: var(--padding-xxxlg); // 70px
  $form-padding-bottom: var(--padding-xxlg); // 50px

  $form-button-margin-top: 1.6875rem; // 27px

  $h2-font-size: var(--font-size-md); // 24px
  $children-max-width: var(--content-max-width);
  $children-padding-right: var(--padding-xxsm);
  $form-border-radius: var(--big-border-radius);
  $breakpoint: var(--breakpoint-mobile);

  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $page-paddings;

  > * {
    box-sizing: border-box;
    width: 100%;
    max-width: $children-max-width;
    padding: 0 $children-padding-right;
  }

  form {
    background-color: $form-bg-color;
    display: flex;
    flex-direction: column;
    border-radius: $form-border-radius;
    @include adaptivePaddings(
      $breakpoint,
      $form-padding-top,
      $form-padding-right,
      $form-padding-bottom
    );
  }

  fieldset {
    margin: 0;
    padding: 0;
    margin-top: var(--padding-md);
    margin-bottom: var(--padding-md);
    box-sizing: border-box;

    legend {
      @include regularText();
      margin-left: 1rem;
    }
  }

  button {
    margin: auto;
    margin-top: $form-button-margin-top;
  }

  h2 {
    @include title();
  }

  > p {
    text-align: center;
    @include regularText();
    margin-top: var(--padding-xlg);

    a {
      color: var(--orange-400);

      &:hover {
        color: var(--orange-500);
      }
    }
  }
}
