.notification {
  color: var(--white-100);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-sm);
  position: fixed;
  top: 45%;
  border: var(--border-width-m) solid transparent;
  border-radius: var(--small-border-radius);
  z-index: 1000;
  width: 50%;
  right: 50%;
  transform: translateX(50%);
}


.notification.success {
  background-color: var(--correct-warning-color);
}

.notification.error {
  background-color: var(--wrong-warning-color);
}

.notification.info {
  background-color: var(--information-color);
}
