form {
  position: relative;

  button:first-child {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  button:last-child {
    transition: 0.3s;
  }
}

form:not(.editable) {
  button:last-child {
    transform: scale(0);
  }
}

form.editable {
  button:last-child {
    transform: scale(1);
  }
}
