@import '~@root/style';

.filter {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--white-200);
  height: fit-content;
}

.title {
  @include title;
  font-size: 1.5rem;
  text-align: start;
}
