@mixin inputBox() {
  $input-padding-right: var(--padding-xxsm);
  $input-border-width: var(--border-width-m);

  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-s);
  padding: var(--padding-md);

  input,
  select {
    font-size: var(--font-size-s);
    padding: var(--padding-sm) var(--padding-xxsm);
    border-radius: var(--small-border-radius);
    border-width: $input-border-width;
    box-sizing: unset;
    width: calc(100% - ($input-padding-right + $input-border-width) * 2);
    border-radius: 0;
  }
}
