.eye {
  $margin-top: calc(var(--font-size-s) + var(--label-margin-bottom) + var(--border-width-m));
  $margin-right: calc(var(--block-left-padding-m) + var(--border-width-m) + 50px);
  $height: 18px;
  $paddings: var(--block-paddings-s);

  position: absolute;
  right: 0;
  margin-right: $margin-right;
  margin-top: $margin-top;
  height: $height;
  padding: $paddings;
  caret-color: transparent;
  box-sizing: unset;

  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: var(--block-top-padding-s);

  &.visible {
    background-image: url('@assets/svg/eye-password-hide.svg');
  }

  &.invisible {
    background-image: url('@assets/svg/eye-password-show.svg');
  }
}
