@import '../../../assets/styles/breakpoints.module.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.aboutUsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 3rem;
  box-sizing: border-box;
  position: relative;
}
.handwrittenText {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: var(--orange-500);
  white-space: pre-wrap; /* Сохранение переносов строки */
}

.hiddenText {
  font-family: 'Permanent Marker', cursive;
  color: var(--orange-500);
  font-size: 1.7rem;
  display: none; /* Скрытие текста */
  white-space: pre-wrap; /* Сохранение переносов строки */
  margin-bottom: 0;
}
.showMoreLink,
.showLessLink {
  display: inline-block;
  cursor: pointer;
  color: var(--information-color);
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  right: 10rem;
}

.showMoreLink:hover,
.showLessLink:hover {
  text-decoration: underline;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem;
  width: 100%;
  margin-bottom: 100px;
}

.memberContainer {
  font-family: 'Actor', system-ui;
  width: 25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.memberContainer:hover {
  transform: scale(1.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.memberPhoto {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-family: 'Lalezar', system-ui;
}

.title span {
  display: inline-block;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--white-200);
  position: absolute;
  bottom: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: auto;
}

.footerImage {
  width: 3.75rem;
  height: 3.75rem;
  transition: transform 0.3s ease;
}

.footerImage:hover {
  animation: shake 0.5s;
}

@media (min-width: 1040px) and (max-width: 1420px) {
  .cardsContainer {
    gap: 0.05rem;
  }
  .memberContainer {
    width: 16rem;
  }
}

/* Медиазапрос для ширины экрана более 1420px */
@media (min-width: 1421px) {
  .cardsContainer {
    gap: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Медиазапрос для ширины экрана менее 1040px */
@media (max-width: 1039px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
  .memberContainer {
    width: 100%;
    max-width: 90%;
  }
}

/* Медиазапрос для ширины экрана 380px и менее */
@media (max-width: 380px) {
  .title {
    font-size: 2rem;
    margin-bottom: 70px;
  }
  .cardsContainer {
    margin-bottom: 150px;
  }
  .memberContainer {
    margin: 2rem;
  }
}
.descriptionDiv {
  margin-bottom: 80px;
  }

