:root {
  // breakpoints (min-width)
  --desktopLarge: 1440px;
  --desktop: 1000px;
  --tablet: 768px;
  --mobile: 380px;

  // content (min-width)
  --contentDesktopLarge: 1040px;
  --contentDesktop: 700px;
  --contentTablet: 900px;
  --contentMobile: 360px;
}
